body {
    background: #f7f7f7;
}

.order_title {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}

.order_title_top {
    display: flex;
    align-items: center;
    height: .88rem;
    padding: 0 .3rem;
    border-bottom: 1px solid #eee;
}
.order_title_top_inp {
    display: flex;
    align-items: center;
    height: .88rem;
    padding: 0 .3rem;
    border-bottom: 1px solid #eee;
}
.order_title_top_inp div{
    width: .6rem;
    height: .6rem;
    background: #f2f2f2;
}
.order_title_top_inp div:nth-child(1){
    
    border-radius: .3rem 0 0 .3rem;
}
.order_title_top_inp div:nth-child(3){
    border-radius: 0 .3rem .3rem 0;
}
.order_title_top_inp div img{
    width: .32rem;
    height: .32rem;
    margin: .14rem;
}
.order_title_top_inp input{
    width: 4.5rem;
    height: .6rem;
    background: #f2f2f2;
    font-size: .26rem;
    /* -webkit-appearance: none; */
    border-radius: 0;
    outline:none;
}
.order_title_top_inp span{
    width: 1rem;
    height: .6rem;
    font-size: .26rem;
    line-height: .6rem;
    text-align: center;
    margin-left: .2rem;
}
.dingwei {
    position: relative;
    color: #D92121;
}
.order_title_top>div{
    white-space: nowrap;
}

.order_title_top .active {
    width:.5rem;
    height:.04rem;
    background:rgba(217,33,33,1);
    border-radius:.02rem;
    position: absolute;
    top: .75rem;
    left: .33rem;
}

.order_title_top {
    font-size: .32rem;
    /* font-weight: bolder; */
    color: #2F2F2F;
}

.order_title_top img {
    height: .32rem;
    width: auto;
}

.order_title_top img:nth-child(1) {
    height: .32rem;
    width: auto;
}

.order_title_top div:nth-child(2) {
    font-size: .32rem;
    margin-left: 1.4rem;
    height: .88rem;
    line-height: .88rem;
}

.order_title_top div:nth-child(3) {
    font-size: .32rem;
    margin-left: .69rem;
    height: .88rem;
    line-height: .88rem;
}

.order_title_top img:nth-child(4) {
    margin-left: .8rem;
}

.order_title_top img:nth-child(5) {
    margin-left: .52rem;
}

.order_title_nav {
    display: flex;
    padding: 0;
    margin: 0;
    align-content: center;
    justify-content: space-between;
    height: 1rem;
    padding: 0 .38rem;
    align-items: center;
    font-size: .28rem;
    list-style: none;
    color: #2F2F2F;
}
.order_title_nav .dingwei{
    position: relative;
    color: #D92121;
}
.order_title_nav li .active {
    width:.5rem;
    height:.04rem;
    background:rgba(217,33,33,1);
    border-radius:.02rem;
    position: absolute;  
}
.order_title_nav li:nth-child(1) .active{
    top: .63rem;
    left: 1px;
}
.order_title_nav li:nth-child(2) .active,
.order_title_nav li:nth-child(3) .active,
.order_title_nav li:nth-child(4) .active,
.order_title_nav li:nth-child(5) .active
{
    top: .63rem;
    left: .14rem;
}
.order_title_nav li:nth-child(6) .active{
    top: .63rem;
    left: .25rem;
}
.order_title_nav li:nth-child(7) .active{
    top: .63rem;
    left: 0;
}
.order_title_nav li:nth-child(8) .active,
.order_title_nav li:nth-child(9) .active,
.order_title_nav li:nth-child(10) .active
{
    top: .63rem;
    left: .15rem;
}

.order_tab_box {
    /* width: 100%; */
    padding: 0 .2rem;
}

.order_tab_box_list {
    /* padding: 0 .2rem; */
    border-radius: .1rem;
    background: #fff;
    margin-top: .2rem;
}

.list_box_content {
    padding: .35rem .22rem;
}

.list_box_content span {
    font-size: .26rem;
}
.list_box_top{
    display: flex;
    justify-content:space-between ;
}
.list_box_top>div{
    display: flex;
    overflow: hidden;
}

.list_box_content .id_copy {
    margin-left: .1rem;
    width: .66rem;
    height: .3rem;
    /* font-size: .2rem; */
    /* color:rgba(217,33,33,1); */
    /* border-radius: .15rem; */
    /* border: 1px #D92121 solid; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center;   */
    background-image: url("./../../image/order_all/copy_id.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
   
}
.list_box_content .list_box_top .id_status {
    color: #D92121;
    float: right;
}

.list_box_content .lsit_box_center {
    padding: .3rem 0;
    border-bottom: .01rem #eee solid;
    display: flex;
    justify-content: space-between;
}

.list_box_content .id_picture {
    width: 1.7rem;
    height: 1.7rem;
    /* background: #D92121; */
    border: none;
    overflow: hidden;
    border-radius: .05rem;
}
/* 
.list_box_content .id_picture>img {
    width: 100%;
    height: 100%;
    display: block;
} */

.list_box_content .id_title {
    width: 4.85rem;
}

.list_box_content .id_title p:nth-child(1) {
    font-size: .28rem;
    margin: 0 0 .3rem 0;
    color: #2F2F2F;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.list_box_content .id_title p:nth-child(2) span:nth-child(1){
    font-size: .28rem;
    font-weight: 500;
}
.list_box_content .id_title p:nth-child(2) span:nth-child(2){
    font-size: .36rem;
    font-weight: 500;
}

.list_box_content .id_title p:nth-child(3) {
    font-size: .28rem;
    float: right;
    color: #999;
}
.list_box_content .id_title_group {
    width: 4.85rem;
}
.list_box_content .id_title_group p:nth-child(1) {
    font-size: .28rem;
    margin-bottom: .1rem;
    color: #2F2F2F;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.list_box_content .id_title_group p {
    font-size: .28rem;
    color: #999;
    margin-bottom: .05rem
}
.list_bottom_group_a, .list_bottom_group_b{
    display: flex;
    justify-content: space-between;
    margin-top: .15rem;
    font-size: .26rem
}
.list_bottom_group_a div:nth-child(1){
    padding: .05rem .1rem;
    background: #ef9292;
    color: #D92121;
    border-radius: .25rem;
}
.list_bottom_group_a div:nth-child(2){
    padding: .05rem .35rem;
    border: .01rem #D92121 solid;
    border-radius: .25rem;
    color: #D92121;
}
.list_bottom_group_b div{
    color: #999;
}


.list_bottom_isshow {
    margin-top: .34rem;
}

.list_bottom_isshow>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.list_bottom_isshow>div:nth-child(1) .isshow_button_a {
    color: #D92121;
    font-size: .26rem;
}
.list_bottom_isshow>div:nth-child(1) .isshow_button_a span img {
   width: .34rem;
   height: .36rem;
}

.list_bottom_isshow>div:nth-child(1) .isshow_button_b {
    color: #666;
    font-size: .3rem;
}

.list_bottom_isshow>div:nth-child(1) .isshow_button_b span span {
    color: #D92121;
    font-size: .3rem;
}

.list_bottom_isshow>div:nth-child(2) {
    display: flex;
    justify-content: flex-end;

}

.list_bottom_isshow>div:nth-child(2)>div>div {
    width: 1.58rem;
    height: .52rem;
    border-radius: .26rem;
    text-align: center;
    font-size: .28rem;
    margin-top: .34rem;
    margin-bottom: .03rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_bottom_isshow .isshow_button_c div {
    border: 0.01rem #999 solid;
    color: #999;
    margin-right: .05rem;
}

.list_bottom_isshow .isshow_button_d div {
    border: 0.01rem #D92121 solid;
    background: #D92121;
    color: #fff;
    margin-left: .28rem;
    margin-right: .05rem;
}
/* .cancel{
    margin-top: .88rem;
} */
#mescroll{
width: 100%;
position: fixed;
top: 1.9rem;
bottom: 0;
height: auto;
}

.kong{
   text-align:center;
   margin-top:20%
}
.kong img{
    width: 2.6rem;
    /* height: 1.84rem;*/
    
}
.kong p{
    color: #999;
    text-align: center;
    font-size: .28rem;
    margin-top: .2rem;
}
.danduso{
    /* margin-top: .88rem; */
    overflow: hidden;
}
.mint-datetime{
    border-radius: .2rem .2rem 0 0 ;
}